[DEFAULT]
ignoreip   = 127.0.0.1/8
maxretry   = 3
bantime    = -1
findtime   = 600

destemail  = {{ f2b_destemail }}
sendername = {{ f2b_sendername }}
sender     = {{ f2b_sender }}
mta        = postfix
action     = %(action_mwl)s 
